:root {
  --tan: #EAE7D7;
  --pale-red: #E98074;
  --red: #E85A4F;
  --dark-red: #4E0101;
  --white: #F3F3F3;
  --blue: #0D125A;
  --pale-blue: #619DDE;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--tan);
}
